.main-article {
    height: 85vh;
    background: url("../images/home/hero-bg.jpg") no-repeat fixed bottom right;
    
}

.logo-large-image {
    position: relative;
}

.main-buttons-container {
    position: realtive;

}

.index-large-buttons {
    margin-top: 20px;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;

    
}
/*------------------------------------------------------------ Media Query */
@media(min-width: 992px) {
    .logo-large-image {
        padding-left: 120px;
    }
}