.main-article {
    height: 85vh;
    background: url("../images/home/hero-bg.jpg") no-repeat fixed bottom right;
    
}

.logo-large-image {
    position: relative;
}

/*------------------------------------------------------------ Media Query */
@media(max-width: 992px) {
    .main-article {
        height: 85vh;
    }
}