* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Kavivanar', sans-serif;
}

.hero-image-container {
    width: 100%;
    height: 100%;
    min-width: 512px;
    background-image: url("../images/home/hero-bg.jpg");
    background-size: cover;
    z-index: -1;
    position: absolute;
    background-position: right 30% bottom;
}

.navbar {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 0;
    z-index: 100;
    top: 0;
}

.navbar a {
    color: #9bd496;
}

.nav-brand {
    font-size: 25px;
    padding: 0;
    margin-left: 12px;
}

.nav-dropdown {
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0px 20px;
    margin: 0;
    font-size: 30px;
    background: none;
    color: #9bd496;
}

.dropdown-menu-right {
    background: black;
}

.dropdown-menu-right a {
    font-size: 30px;
}

.btn-light {
    background: black;
    border-color: black;
    color: #9bd496;
}

.main-article {
    height: 95vh;
    min-width: 512px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.logo-large-image {
    max-width: 100%;
    max-height: 40vh;;
    width: auto;
    margin-bottom: 20px;
}

.logo-position {
    margin-top: 20px;
    width: 100%;
    
}

.logo-heading {
    color: #9bd496;
    position: absolute;
}

.main-buttons-container {
    padding: 0;
}

.button-position {
    width: 100%;
    margin-top: auto;
}

.btn-outline-warning {
    color: #9bd496;
    border-color: #9bd496;
}

.btn-outline-warning:hover {
    background-color: #9bd496;
    border-color: #9bd496;
}

.index-large-buttons {
    margin-bottom: 20px;
    margin-right: 275px;
    width: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0,0,0,0.3);
    font-size: 25px;
}

/*------------------------------------------------------------ Food Table */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 512px;
}

.flex-column {
    flex: 100%;
    max-width: 100%;
}

.food-table-image {
    vertical-align: middle;
    width: 100%;
}

/*------------------------------------------------------------ Media Query */
@media(min-width: 769px) {
    .logo-large-image {
        padding-left: 125px;
        
    }

    .button-position {
        margin-bottom: 25px;
    }

    .index-large-buttons {
        margin-right: 0px;
        height: 75px;
        font-size: 30px;
    }

    .food-table .flex-column {
    flex: 33.33%;
    max-width: 33.33%;
    }
}

@media(min-width: 1281px) {
    .hero-image-container {
       background-position: right 0% bottom;
    }

    .food-table .flex-column {
    flex: 33.33%;
    max-width: 33.33%;
    }
}